.box {
  .Card {
    border: 1px solid rgb(49, 49, 49);
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      border-left: 1px solid rgb(255, 255, 75);
      border-top: 1px solid rgb(255, 255, 75);
      border-right: 1px solid rgb(202, 202, 0);
      border-bottom: 1px solid rgb(202, 202, 0);
    }

    .cardImg {
      filter: brightness(0.75) sepia(0.2);
      width: 10rem;
      height: 15rem;
      background-size: 160px;
      transition: all 0.3s;

      &:hover {
        filter: none;
        background-size: 158px;
      }

      .nameChamp {
        display: flex;
        height: 15rem;

        p {
          width: 10rem;
          background: rgb(6, 27, 36);
          background: linear-gradient(
            0deg,
            rgba(6, 27, 36, 1) 19%,
            rgba(6, 26, 34, 0.8294849023090586) 48%,
            rgba(5, 24, 32, 0.6269982238010657) 93%
          );
          padding: 10px 0;
          margin: 0;
          align-self: flex-end;
          text-align: center;
          backdrop-filter: blur(2px);
        }
      }
    }
  }

  button {
    border: 1px solid rgb(49, 49, 49);
    margin: 5px 0 0 0;
    width: 162px;
    height: 1.5rem;
    background: rgb(74, 66, 37);
    background: linear-gradient(
      180deg,
      rgba(74, 66, 37, 1) 0%,
      rgba(126, 107, 69, 1) 74%
    );
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.731);

    &:hover {
      border-left: 1px solid rgb(255, 255, 75);
      border-top: 1px solid rgb(255, 255, 75);
      border-right: 1px solid rgb(202, 202, 0);
      border-bottom: 1px solid rgb(202, 202, 0);
    }
  }
}

@media only screen and (max-width: 600px) {
  .box {
    .Card {
      transition: all 0s;

      .cardImg {
        width: 9.2rem;
        height: 14rem;
        background-size: cover;
        transition: all 0s;

        &:hover {
          background-size: cover;
        }

        .nameChamp {
          height: 14rem;

          p {
            width: 10rem;
          }
        }
      }
    }

    button {
      width: 150px;
    }
  }
}
