html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: rgb(23, 97, 129);
    background: linear-gradient(
      0deg,
      rgba(23, 97, 129, 1) 0%,
      rgba(22, 87, 113, 1) 13%,
      rgba(10, 40, 54, 1) 39%,
      rgba(6, 27, 36, 1) 74%
    ); */
    background-color: #061b24;
  }
}
